<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.trade.mapper.TradeEventDedupMapper">
    <insert id="insert">
        INSERT INTO trade_event_dedup
        (EVENT_ID, TOPIC, PARTITION_ID, OFFSET_ID, CONSUME_TIME, STATUS)
        VALUES
        (#{eventId}, #{topic}, #{partitionId}, #{offsetId}, NOW(), 'DONE')
    </insert>

</mapper>